﻿<!DOCTYPE html>
<html>
<head>
    <title>Max Computers | @ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/User_Theme/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/User_Theme/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/User_Theme/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Content/User_Theme/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/User_Theme/js/easing.js"></script>
    <script type="text/javascript" src="~/Content/User_Theme/js/startstop-slider.js"></script>
    

     @*-----   Custom Style   -----*@
    <link href="~/Content/CustomCss/CustomStyle.css" rel="stylesheet" />

</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                <div class="call">
                    <p><span>Need help?</span> call us <span class="number">+91 73073 73330</span></p>
                </div>
                <div class="account_desc">
                    <ul>
                        <li><a href="/Login/Login">Login</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_top">
                <div class="logo" style="font-size:50px;font-weight:800;color:#bf0000;font-family:'Times New Roman', Times, serif;">                  
                    COMPUTER S<span style="font-weight:600;background-color:#6b6b6b;color:#f3f3f3;border-radius:10px;   ">T/H</span>OP</div>
                <div class="cart">
                    <p>
                        Welcome to our Online Store! 
                        @*<span>Cart:</span>
                        <div id="dd" class="wrapper-dropdown-2">
                            0 item(s) - $0.00
                            <ul class="dropdown">
                                <li>you have no items in your Shopping cart</li>
                            </ul>
                        </div>*@
                    </p>
                </div>
                <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

                </script>
                <div class="clear"></div>
            </div>
            <div class="header_bottom">
                <div class="menu">
                    <ul>
                        <li><a href="/Home/Home">Home</a></li>
                        <li><a href="/Home/About">About</a></li>
                        <li><a href="/Home/Services">Services</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                        <li><a href="/Home/EWaste">E-Waste</a></li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="search_box">
                    <form>
                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        @RenderBody()        
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Why buy from us</h4>
                    <ul>
                        <li><a href="/Home/About">About Us</a></li>
                        <li><a href="/Home/Services">Services</a></li>
                        <li><a href="/Home/Contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>My account</h4>
                    <ul>
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Contact</h4>
                    <ul>
                        <li><span>+91-73073-73330</span></li>
                        <li><span>+91-98030-09809</span></li>
                    </ul>                   
                </div>
                <div class="col_1_of_4 span_1_of_4">                                   
                    <div class="social-icons" style="padding-top:0 !important;">
                        <h4>Follow Us</h4>
                        <ul>
                            <li><a href="#" target="_blank"><img src="~/Content/User_Theme/images/facebook.png" alt="" /></a></li>
                            <li><a href="#" target="_blank"><img src="~/Content/User_Theme/images/skype.png" alt="" /> </a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy_right">
            <p>Max 1 Computers © All rights Reseverd | Design by  <a href="http://w3layouts.com">W3Layouts</a> </p>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>

    <script>
        var browserUrl = $(location).attr("pathname").toLowerCase();

      //  console.log(browserUrl);

        $(".menu>ul>li").removeClass("active");

        
        $(".menu>ul>li>a").each(function () {
            var tempUrl = $(this).attr("href").toLowerCase();

         //   console.log(tempUrl);
            if (browserUrl == "/" && tempUrl=="/home/home") {
                $(this).parent().addClass("active");
            }
            else if (tempUrl == browserUrl) {
                $(this).parent().addClass("active");
            }
        });


    </script>


    @RenderSection("scripts", false);

</body>
</html>
