﻿@model IEnumerable<ComputerStock.Models.HddTypeTable>
@{
    ViewBag.Title = "HDD Type";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hard Disk Drive Types</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="hdd_type_table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>HDD Type</th>
                                <th>Memory</th>
                                <th>Is Laptop HDD</th>
                                <th>Is SSD</th>
                                <th>Quantity</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var hdd in Model)
                            {
                                <tr id="row_@hdd.hdd_type_id">
                                    <td>@hdd.hdd_type</td>
                                    <td>@hdd.memory_size&nbsp;@hdd.memory_unit</td>
                                    <td>
                                        @if (hdd.is_laptop_hdd)
                                        {
                                            <i class="fa fa-check fa_bg_green" aria-hidden="true"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times fa_bg_red" aria-hidden="true"></i>
                                        }
                                    </td>
                                    <td>
                                        @if (hdd.is_ssd)
                                        {
                                            <i class="fa fa-check fa_bg_green" aria-hidden="true"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-times fa_bg_red" aria-hidden="true"></i>
                                        }
                                    </td>
                                    <td id="cell_@hdd.hdd_type_id">@hdd.item_quantity</td>
                                    <td>
                                        <a class="hdd_plus_one" data-hddtypeid="@hdd.hdd_type_id" href="#"><i class="fa fa-lg fa-plus-square"></i></a>&nbsp;&nbsp;
                                        <a class="hdd_minus_one" data-hddtypeid="@hdd.hdd_type_id" href="#"><i class="fa fa-lg fa-minus-square"></i></a>&nbsp;&nbsp;
                                        <a class="hdd_type_delete" data-hddtypeid="@hdd.hdd_type_id" href="#"><i class="fa fa-lg fa-times-circle"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>


    @using (Html.BeginForm("AddHddType", "Admin", FormMethod.Post))
    {
        <div class="box box-info collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">Add HDD Type</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-1">
                        <input type="text" class="form-control" placeholder="HDD Type" name="hdd_type" required />
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="memory_size" required>
                                <option value="">Memory Size</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                                <option value="80">80</option>
                                <option value="160">160</option>
                                <option value="250">250</option>
                                <option value="500">500</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="memory_unit" required>
                                <option value="">Memory Unit</option>
                                <option value="GB">GB</option>
                                <option value="TB">TB</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="is_laptop_hdd" required>
                                <option value="">Is Laptop HDD?</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <select class="form-control" name="is_ssd" required>
                                <option value="">Is SSD?</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-sm btn-info btn-flat pull-left" type="submit">&nbsp;&nbsp;<i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;ADD</button>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    <!-- /.box -->
    }

 </section>
<!-- /.content -->
@section scripts_RamTypes {
    <script>
        //----------------------------------------//
        //--- Delete HDD Type ---//
        $(".hdd_type_delete").click(function () {
            var hddTypeId = $(this).data("hddtypeid");
            console.log("hdd it : " + hddTypeId);

            $.ajax({
                method: "POST",
                url: "/Admin/DeleteHddType",
                data: { hddTypeId: hddTypeId },
                success: function (response) {
                    if (response == "True") {
                        console.log(response);
                        $("#row_" + hddTypeId).fadeOut("slow");
                    }
                    else {
                        console.log(response);
                        alert("Cannot Delete . Quantity is not zero.");
                    }
                }
            });
        });
        //--- END ---//
        //--- Item Plus One ---//
        $(".hdd_plus_one").click(function () {
            var hddTypeId = $(this).data("hddtypeid");
            console.log("hdd id : " + hddTypeId);

            $.ajax({
                method: "POST",
                url: "/Admin/ItemPlusOne",
                data: { itemTypeId: hddTypeId },
                success: function (response) {
                    console.log(response);
                    $("#cell_" + hddTypeId).text(response);
                }
            });
        });
        //--- END ---//
        //----------------------------------------//
        //--- Item Minus One ---//
        $(".hdd_minus_one").click(function () {
            var hddTypeId = $(this).data("hddtypeid");
            console.log("hdd id : " + hddTypeId);

            $.ajax({
                method: "POST",
                url: "/Admin/ItemMinusOne",
                data: { itemTypeId: hddTypeId },
                success: function (response) {
                    console.log(response);
                    $("#cell_" + hddTypeId).text(response);
                }
            });
        });
        //--- END ---//
    
    </script>
}