﻿<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#" class="hdd_size" data-hdd_size="3.5">
            <span class="image_text">HDD
            <br />
            3.5&ldquo;
            </span>
        </a>
        <div class="price-details">       
            <div class="add-cart">
                <h4><a href="#" class="hdd_size" data-hdd_size="3.5"><b>HDD 3.5&ldquo;</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#" class="hdd_size" data-hdd_size="2.5">
            <span class="image_text">
                HDD
                <br />
                2.5&ldquo;
            </span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#" class="hdd_size" data-hdd_size="2.5">HDD 2.5&ldquo;</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div> 
</div>
