﻿@model IEnumerable<ComputerStock.Models.HddTypeTable>
<style>
    .see {
        float: right;
        padding-top: 4px;
    }

    .see p a {
            display: inline;
            font-size: 0.8125em;
            color: #333;
            background: url(/Content/User_Theme/images/back-img.png ) no-repeat right 2px;
            padding: 0px 12px 0px 0px;
        }

    .content_top {
        padding: 8px 20px;
        border: 1px solid #EBE8E8;
        border-radius: 3px;
    }

</style>

<div class="content_top">
    <div class="heading">
        <h3>@ViewBag.HddSize&ldquo; @ViewBag.HddSubType HDD</h3>
    </div>
    <div class="see">
        <p><a href="#" id="hdd_sub_type_back_btn" data-hdd_size="@ViewBag.HddSize">Back</a></p>
    </div>
    <div class="clear"></div>
</div>

@if (Model.Count() == 0)
{
    <div class="content">
        <h2 class="bg-light-blue-active">Sorry!!! Out Of Stock...</h2>
    </div>
}
else
{
    <div class="section group">

        @foreach (var hdd in Model)
        {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="#"><img src="~/Content/User_Theme/images/feature-pic1.jpg" alt="" /></a>
                <h2>@hdd.memory_size @hdd.memory_unit</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">&#8360; &#2352; &#x20B9; &#x20b9; &#8377; 0</span></p>
                    </div>
                    <div class="add-cart">
                        @if (hdd.item_quantity == 0)
                        {
                            <h4><span class="out_of_stock">Out Of Stock!</span></h4>
                        }
                        else
                        {
                            <h4><a href="">Add to Cart</a></h4>
                        }
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        }
    </div>

}







