﻿<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Pentium</span>
            <br />
            <span class="processor_image_body">I</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Pentium</span>
            <br />
            <span class="processor_image_body">II</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Pentium</span>
            <br />
            <span class="processor_image_body">III</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Pentium</span>
            <br />
            <span class="processor_image_body">4</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Pentium</span>
            <br />
            <span class="processor_image_body">D</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Pentium</span>
            <br />
            <span class="processor_image_body">M</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Celron</span>
            <br />
            <br />
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Pentium</span>
            <br />
            <span class="processor_image_body">Dual-Core</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Pentium</span>
            <br />
            <span class="processor_image_body">Core-2-Duo</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Pentium</span>
            <br />
            <span class="processor_image_body">Core-2-Quad</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Core</span>
            <br />
            <span class="processor_image_body">i3</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Core</span>
            <br />
            <span class="processor_image_body">i5</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#">
            <span class="processor_image_head">Core</span>
            <br />
            <span class="processor_image_body">i7</span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#"><b>Intel</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
