﻿       
<style>
    .see {
    float: right;
    padding-top: 4px;
}
  .see p a{
	display: inline;
	font-size: 0.8125em;
	color: #333;
	background: url(/Content/User_Theme/images/back-img.png
        ) no-repeat right 2px;
    padding:0px 12px 0px 0px;
}

  .content_top {
    padding: 8px 20px;
    border: 1px solid #EBE8E8;
    border-radius: 3px;
}
  .grid_1_of_4{
      width:46%;
  }
</style>
<div class="section group">
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#" class="ram_size_type" data-ram_size="DESKTOP">
            <span class="ram_size_type_image_text">
                DESKTOP
            </span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#" class="ram_size_type" data-ram_size="DESKTOP"><b>Destop RAM</b></a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="grid_1_of_4 images_1_of_4">
        <a href="#" class="ram_size_type" data-ram_size="LAPTOP">
            <span class="ram_size_type_image_text">
                LAPTOP
            </span>
        </a>
        <div class="price-details">
            <div class="add-cart">
                <h4><a href="#" class="ram_size_type" data-ram_size="LAPTOP">Laptop RAM</a></h4>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>







