﻿       
<style>
    .see {
    float: right;
    padding-top: 4px;
}
  .see p a{
	display: inline;
	font-size: 0.8125em;
	color: #333;
	background: url(/Content/User_Theme/images/back-img.png
        ) no-repeat right 2px;
    padding:0px 12px 0px 0px;
}

  .content_top {
    padding: 8px 20px;
    border: 1px solid #EBE8E8;
    border-radius: 3px;
}
</style>

 <div class="content_top">
            <div class="heading">
                <h3>@ViewBag.RamSize DDR @ViewBag.DDRType RAM</h3>
            </div>
            <div class="see">
                <p><a href="#" id="ram_ddr_type_back_btn" data-ram_size="@ViewBag.RamSize">Back</a></p>
            </div>
            <div class="clear"></div>
        </div>
 <div class="section group">
            <div class="grid_1_of_4 images_1_of_4">
                <a href="preview.html"><img src="~/Content/User_Theme/images/feature-pic1.jpg" alt="" /></a>
                <h2>Lorem Ipsum is simply </h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">$620.87</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="preview.html">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>







