﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col span_2_of_3">
                <div class="contact-form">
                    <h2>Contact Us</h2>
                    <form method="post" action="contact-post.html">
                        <div>
                            <span><label>Name</label></span>
                            <span><input name="userName" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>E-mail</label></span>
                            <span><input name="userEmail" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>Company Name</label></span>
                            <span><input name="userPhone" type="text" class="textbox"></span>
                        </div>
                        <div>
                            <span><label>Subject</label></span>
                            <span><textarea name="userMsg"> </textarea></span>
                        </div>
                        <div>
                            <span><input type="submit" value="Submit" class="myButton"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col span_1_of_3">
                <div class="contact_info">
                    <h3>Find Us Here</h3>
                    <div class="map">
                        <iframe style="width:100%;height:175px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://goo.gl/maps/nptbGWyF7p72"></iframe><br><small><a href="https://goo.gl/maps/nptbGWyF7p72" style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
                    </div>
                </div>
                <div class="company_address">
                    <h3>Company Information :</h3>
                    <p>2524, Street No. : 16/3</p>
                    <p>Punjab Mata Nagar</p>
                    <p>Ludhiana, Punjab</p>
                    <p>INDIA</p>
                    <p>Phone:+91 73073 73330</p>
                    @*<p>Email: <span>jasminder67@yahoo.com</span></p>*@
                    @*<p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>*@
                </div>
            </div>
        </div>
    </div>
</div>