﻿
@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .images_1_of_3 h3{
        margin-top:15px;
    }
</style>
<div class="main">
    <div class="content" style="text-align:center;font-weight:600;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <div class="section group">
            <div class="grid_1_of_3 images_1_of_3">
                <img src="~/Content/User_Theme/images/delivery-img1.jpg" class="service_image" />
                <h3>Pick and Drop </h3>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="~/Content/Images/services_05.png" class="service_image" />
                <h3>Repair and Replacement </h3>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="~/Content/Images/services_04.png" class="service_image" />
                <h3>Setting Up Desktop</h3>
            </div>
        </div>
        <div class="section group">
            <div class="grid_1_of_3 images_1_of_3">
                <img src="~/Content/Images/services_03.png" class="service_image" />
                <h3>Setting Up Labs </h3>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="~/Content/User_Theme/images/delivery-img2.jpg" class="service_image" />
                <h3>Bulk Order Handling</h3>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="~/Content/User_Theme/images/delivery-img3.jpg" class="service_image" />
                <h3>Service at Door Step</h3>
            </div>
        </div>

    </div>
</div>


